# Auto-detect text files and perform LF normalization
* text=auto
# MATLAB Specifics - Treat as Binary
*.mlapp binary
*.mat binary
*.fig binary
*.slx binary
*.mdl binary
*.mex* binary
*.p binary
# Keep these as text but syntax highlight
*.m text diff=matlab
*.xml text
*.json text
*.pth filter=lfs diff=lfs merge=lfs -text
