:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 18px/145% var(--sans);
  background: #020617;
  color: #f8fafc;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}
